::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #26374E;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3A5270;
}
