.doc {
  height: 750px;
  padding: 24px;
  overflow-y: auto;
  color: var(--app-text-secondary);
  font-size: 14px;
  background-color: var(--app-elevated);

  .url {
    padding: 8px 16px;
    color: var(--app-primary);
    background-color: rgba(#a7bdf7, 0.2);
  }

  h1 {
    margin: 16px 0;
    color: var(--app-text-secondary);
    font-weight: bold;
    font-size: 14px;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin: 6px 0;
    color: var(--app-text-secondary);
    font-size: 14px;
  }

  .image {
    margin: 16px 0;
  }
}
